# React .gitignore
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Vim
*.swp
*.swo

# IntelliJ
.idea
*.iml

# Mac
.DS_Store

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/build
/.sass-cache
/connect.lock
/coverage/*
/*.log
*.lock

# Local-only
_local/

