// Color variables

// #DDAA03 complements #FBD107 colored charm logo
$charm-gold: #FBD107;
// Color variables
$logo-primary: black ;
$logo-secondary: #DDAA03;
$light: #DCDAD6;
$dark: #211103;
$gold: #ffb42e;
$mint: #b1b58a;
